#root {
max-width: 1280px;
margin: 0 auto;
padding: 2rem;
text-align: center;
font-family: Inter, Avenir, Arial, Helvetica, sans-serif;
background-color: white;
}

body {
  margin: 0;
  display: center;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}